fastapi==0.127.0
uvicorn==0.40.0
psycopg==3.3.2
psycopg-pool==3.3.0
python-dotenv==1.2.1
pydantic==2.12.5
firebase-admin==7.1.0
sqlalchemy==2.0.45
asyncpg==0.31.0
alembic==1.17.2
gunicorn==23.0.0
httpx==0.28.1
httpx-retry==2025.4.23
redis
pytz==2023.3
razorpay==2.0.0
pycryptodome==3.23.0
setuptools==80.9.0
sentry-sdk[fastapi]==2.48.0
boto3==1.42.9
PyMySQL==1.1.2
paytmchecksum==1.7.0
